    <section id="news">
        <div class="container bg-light-gray">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">News</h2>
                </div>
                <div class="col-md-12 text-muted">
                	<table style="width: 100%; border-collapse:separate; border-spacing:1em;">
						<colgroup>
						   <col span="1" style="width: 15%;">
						   <col span="1" style="width: 85%;">
						</colgroup>
						<tbody>
							<tr>
								<td><strong>April 16, 2020</strong></td>
								<td>Due to the Covid-19 pandemic, the 5th EADM summer school has been postponed to next year. More information: <a href="https://ldmss.org">ldmss.org</a></td>
							</tr>
							<tr>
								<td><strong>January 31, 2020</strong></td>
								<td>Save the date for the 5th EADM summer school on the topic of learning and decision making! More information on our website: <a href="https://ldmss.org">ldmss.org</a></td>
							</tr>
							<tr>
								<td><strong>July 04, 2019</strong></td>
								<td>I will present my recent work with the short title "Violations of economic rationality in reinforcement learning are driven by a saliency-dependent reward-prediction-error signal in the ventral striatum" at the Neuroeconomics in Dublin.</td>
							</tr>
							<tr>
								<td><strong>May 13, 2019</strong></td>
								<td>New website, still very much under construction.</td>
							</tr>
							<tr>
								<td><strong>January 10, 2019</strong></td>
								<td>I will be joining the Universitat Pompeu Fabra as an assistant professor in September 2019.</td>
							</tr>
						</tbody>
					</table>
                </div>
	        </div>
        </div>
    </section>
