    <section id="news">
        <div class="container bg-light-gray">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">News</h2>
                </div>
                <div class="col-md-12 text-muted">
                	<table style="width: 100%; border-collapse:separate; border-spacing:1em;">
						<colgroup>
						   <col span="1" style="width: 15%;">
						   <col span="1" style="width: 85%;">
						</colgroup>
						<tbody>
							<tr>
								<td><strong>September 28, 2020</strong></td>
								<td>Our paper that compares single- and dual-process evidence accumulation models of memory-based decisions out now in <i>Psychonomic Bulletin &amp; Review</i>: <a href="https://doi.org/10.3758/s13423-020-01794-9" class="uri">https://doi.org/10.3758/s13423-020-01794-9</a> (open access). Also, check out the <a href="https://t.co/oqsoddD4yb?amp=1">summary of the paper as a Twitter thread and conference talk.</td>
							</tr>
							<tr>
								<td><strong>September 23, 2020</strong></td>
								<td>New preprint (together with David Kellen and Karl Christoph Klauer) about the project I'll present at the ViProc available on PsyArXiv: <a href="https://doi.org/10.31234/osf.io/hmzsx" class="uri">https://doi.org/10.31234/osf.io/hmzsx</a></td>
							</tr>
							<tr>
								<td><strong>September 22, 2020</strong></td>
								<td>I will present my recent work about the repulsion effect in preferential and perceptual choice at the <a href="https://processtracing.wordpress.com/viproc-conference/">Virtual Process Tracing (ViProc) Conference 2020</a>. Also, I will try to update the news section of this website more often.</td>
							</tr>
							<tr>
								<td><strong>April 16, 2020</strong></td>
								<td>Due to the Covid-19 pandemic, the 5th EADM summer school has been postponed to next year. More information: <a href="https://ldmss.org">ldmss.org</a></td>
							</tr>
							<tr>
								<td><strong>January 31, 2020</strong></td>
								<td>Save the date for the 5th EADM summer school on the topic of learning and decision making! More information on our website: <a href="https://ldmss.org">ldmss.org</a></td>
							</tr>
							<tr>
								<td><strong>July 04, 2019</strong></td>
								<td>I will present my recent work with the short title "Violations of economic rationality in reinforcement learning are driven by a saliency-dependent reward-prediction-error signal in the ventral striatum" at the Neuroeconomics in Dublin.</td>
							</tr>
							<tr>
								<td><strong>May 13, 2019</strong></td>
								<td>New website, still very much under construction.</td>
							</tr>
							<tr>
								<td><strong>January 10, 2019</strong></td>
								<td>I will be joining the Universitat Pompeu Fabra as an assistant professor in September 2019.</td>
							</tr>
						</tbody>
					</table>
                </div>
	        </div>
        </div>
    </section>
