    <section id="research">
        <div class="container bg-light-gray">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Research</h2>
                </div>
                <div class="col-md-12 text-muted">
                    <p>Humans face many different kinds of decisions in their everyday lives, such as what to eat for lunch or where to go on vacation. Attempts to understand the principles underlying such decisions traditionally involve an axiomatic system of preferences and are often used as the benchmark for economically "rational" human behavior. I am particularly interested in behavior that deviates from such notions of rationality as I believe that those situations provide an important window to human cognition.</p>
                    
                    <p>In my main line of research, I investigate the cognitive processes underlying such "irrational behavior" with a particular focus on the role of attention in the formation of context-dependent preferences, so-called context effects. I rely on formal modeling of cognition and combine it with evidence from behavioral experiments and psychophysiological data to obtain a more comprehensive understanding of the cognitive processes underlying human decision making.</p>
                	</div>
	            </div>
	            
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Research interests</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p>Decisions under risk and uncertainty</p>
				    <p>Learning and decision making</p>
				    <p>Context-dependent preferences</p>
				    <p>Cognitive modeling</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Publications (* = equal contribution)</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p>Voormann, A., <strong>Spektor, M. S.</strong>, &amp; Klauer, K. C. (in press). The simultaneous recognition of multiple words: A process analysis. <em>Memory &amp; Cognition</em>. </p>
                    
                    <p>Kraemer, P., Fontanesi, L., <strong>Spektor, M. S.</strong>, &amp; Gluth, S. (2020). Response time models separate single- and dual-process accounts of memory-based decisions. <em>Psychonomic Bulletin &amp; Review</em>. <a href="https://doi.org/10.3758/s13423-020-01794-9" class="uri">https://doi.org/10.3758/s13423-020-01794-9</a></p>
                    
					<p>Fontanesi, L., Gluth, S., <strong>Spektor, M. S.</strong>, &amp; Rieskamp, J. (2019). A reinforcement learning diffusion decision model for value-based decisions. <em>Psychonomic Bulletin &amp; Review</em>, <em>26</em>(4), 1099&ndash;1121. <a href="https://doi.org/10.3758/s13423-018-1554-2" class="uri">https://doi.org/10.3758/s13423-018-1554-2</a></p>
					
					<p><strong>Spektor, M. S.</strong>, Gluth, S., Fontanesi, L., &amp; Rieskamp, J. (2019). How similarity between choice options affects decisions from experience: The accentuation of differences model. <em>Psychological Review</em>, <em>126</em>(1), 52&ndash;88. <a href="https://doi.org/10.1037/rev0000122" class="uri">https://doi.org/10.1037/rev0000122</a></p>
					
					<p>Gluth, S.*, <strong>Spektor, M. S.*</strong>, &amp; Rieskamp, J. (2018). Value-based attentional capture affects multi-alternative decision making. <em>eLife</em>, <em>7</em>, 1&ndash;36. <a href="https://doi.org/10.7554/eLife.39659" class="uri">https://doi.org/10.7554/eLife.39659</a></p>
					
					<p><strong>Spektor, M. S.</strong>, &amp; Kellen, D. (2018). The relative merit of empirical priors in non-identifiable and sloppy models: Applications to models of learning and decision-making. <em>Psychonomic Bulletin &amp; Review</em>, <em>25</em>(6), 2047&ndash;2068. <a href="https://doi.org/10.3758/s13423-018-1446-5" class="uri">https://doi.org/10.3758/s13423-018-1446-5</a>. Open-access full text: <a href="http://rdcu.be/J18i" class="uri">http://rdcu.be/J18i</a></p>
					
					<p><strong>Spektor, M. S.</strong>, Kellen, D., &amp; Hotaling, J. M. (2018). When the good looks bad: An experimental exploration of the repulsion effect. <em>Psychological Science</em>, <em>29</em>(8), 1309&ndash;1320. <a href="https://doi.org/10.1177/0956797618779041" class="uri">https://doi.org/10.1177/0956797618779041</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Manuscripts in preparation or submitted for publication</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p><strong>Spektor, M. S.</strong>, Kellen, D., &amp; Klauer, K. C. (submitted). The repulsion effect in preferential choice and its relation to perceptual choice. <em>Preprint available on PsyArXiv:</em> <a href="https://doi.org/10.31234/osf.io/hmzsx" class="uri">https://doi.org/10.31234/osf.io/hmzsx</a></p>
                    
                    <p><strong>Spektor, M. S.</strong>, &amp; Wulff, D. U. (submitted). Myopia drives reckless behavior in the face of over-taxation. <em>Preprint available on PsyArXiv:</em> <a href="https://doi.org/10.31234/osf.io/34gzp" class="uri">https://doi.org/10.31234/osf.io/34gzp</a></p>

                    
                    <p><strong>Spektor, M. S.</strong>, &amp; Seidler, H. (submitted). Irrelevant outcomes lead to violations of economic rationality. </p>
                    
                    <p><strong>Spektor, M. S.</strong>*, Gluth, S.*, &amp; Rieskamp, J. (in preparation). Saliency distorts reward processing during reinforcement learning. </p>
                    
                    <p><strong>Spektor, M. S.</strong>, &amp; Wulff, D. U. (in preparation). Strategic search in decisions from experience. </p>
                    
                    <p>Kellen, D.*, <strong>Spektor, M. S.</strong>*, Rieskamp, J., &amp; Klauer, K. C. (in preparation). Context dependency of loss aversion. </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Other publications</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p><strong>Spektor, M. S.</strong>, &amp; Yuan, T. (2020). Digitalisierung in der Juristenausbildung. <em>Neue Juristische Wochenschrift</em>, <em>15</em>, 52&ndash;88.</p>
                </div>
            </div>            
        </div>
    </section>
