    <section id="teaching">
        <div class="container bg-light-gray">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Teaching</h2>
                </div>
                <div class="col-md-12 text-muted">
                <p>As a behavioral scientist, I am fascinated by all the different facets and the complexity of human cognition. Every new discovery not only uncovers part of that complex puzzle but also reveals more uncharted waters ahead of us. I believe that this curiosity of wanting to obtain a deeper understanding of the human nature is the main driving force behind both good research and learning success.</p>
                </div>
	        </div>
	        
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Thesis supervision</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p>I offer supervision of theses. If you are interested in working on any of my research topics, feel free to contact me.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="section-heading">Current courses</h4>
                </div>
                <div class="col-md-12 text-muted">
                    <p>I am currently teaching "Behavioural Decision Making I: Attention, Experience and Influence" (winter term; click <a href="https://www.upf.edu/documents/2963149/236183290/Behavioural+Decision+Making+I.pdf/6c7ef1ef-c854-2284-aaae-48f41382892d"><strong>here</strong></a> for the syllabus) and "Microeconomics II" (spring term; click <a href="https://gestioacademica.upf.edu/doa/consultaPublica/look[conpub]MostrarPubGuiaDocAs?entradaPublica=true&idiomaPais=en.GB&_anoAcademico=2019&_codAsignatura=21129"><strong>here</strong></a> for the syllabus).</p>
                </div>
            </div>
		</div>
    </section>
